@model SPMS.Models.Vendor

@{
    ViewData["Title"] = "Edit Vendor";
}

    <form asp-action="Edit">
        <div class="row p-4 mx-2">
            <div class="col-12">
                <h2 style="color:#177b8b">Edit Vendor</h2>
            </div>
            <div class="col-12">
                <hr />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Vender_Id" />
            <div class="col-12 p-3">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Vender_Name" class="control-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Vender_Name" class="form-control" />
                        <span asp-validation-for="Vender_Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Contact_Person_Name" class="control-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Contact_Person_Name" class="form-control" />
                        <span asp-validation-for="Contact_Person_Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Contect_Person_No" class="control-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Contect_Person_No" class="form-control" />
                        <span asp-validation-for="Contect_Person_No" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4 offset-4">
                        <input type="submit" value="Update" class="btn btn-info form-control" width="100" />
                    </div>
                    <div class="col-4">
                        <a asp-action="Index" class="btn btn-secondary form-control">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
